html,body{
    height: 100%;
}
body.chooseMenu{
    background: #4dabf7;
}
body.map-api{
    background: #ffb0de;
}
.notice-text{
    text-align: center;
}
nav{
    position: fixed;
    width: auto;
    top: 10px;
    left: 0;
    z-index: 2;
    border: 2px solid #000;
    border-left: none;
    background: #fff;
    padding: 7px 10px;
    transition: all 0.2s;
    transform: translateX(-100%);
}
nav li:not(:last-child){
    padding-bottom: 10px;
}
nav li.active:before{
    content: '*';
    display: inline-block;
    margin-right: 10px;
}
nav .mark{
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    line-height: 30px;
    z-index: 1;
    border-radius: 0 5px 5px 0;
    border: 2px solid #000;
    border-left: none;
    background: #fff;
    text-align: center;
}
nav .mark:before{
    content: '}';
}
nav.active{
    transform: translateX(0);
}
nav.active .mark:before{
    content: '{';
}
.dim{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.dim.active{
    opacity: 1;
    visibility: visible;
}

/* title section */
h1 {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-shadow: 2px 2px 0px #000;
}
h1 i{
    color: #fff;
    transition: all 0.5s;
}
h1:active i{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* input section */
.input-wrap{
    margin: 0 15px;
    border: 2px solid;
    overflow: hidden;
    border-radius: 5px;
}
.input-wrap input{
    float: left;
    width: calc(100% - 50px);
    font-size: 20px;
    line-height: 50px;
    padding: 0 15px;
    border: none;
    background: #fff;
}
.add-menu{
    float: left;
    width: 50px;
    font-size: 20px;
    border: none;
    border-left: 2px solid;
}
.add-menu i{
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    transition: all 0.1s;
}
.add-menu i:active{
    font-size: 25px;
}

/* list section */
.menu{
    padding: 20px 15px;
}
.menu li{
    position: relative;
    min-height: 50px;
    font-size: 20px;
    line-height: 1.2;
    padding: 12px 45px 12px 15px;
    background: #fff;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.2s;
    opacity: 1;
}
.menu li:last-child{
    margin-bottom: 100px;
}
.menu li.remove{
    opacity: 0;
    transform: translateX(-100%);
}
.menu li.active{
    background: #ffeeba;
    transform: scale(1.05);
}
.del {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    color: #dc3545;
}

/* submit button */
.result-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    z-index: 1;
}
.result-wrap .result{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid;
    color: #000;
    background: #fff;
    transition: all 0.2s;
}
.result-wrap .result:active{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.result-wrap .to-top{
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.2s;
}
.result-wrap .to-top i{
    font-size: 35px;
    color: #fff;
}
.result-wrap .to-top.active{
    right: 15px;
}

#map {
    margin: 0 15px;
    border: 2px solid;
    overflow: hidden;
    border-radius: 5px;
}